
/*.wrapper {*/
  /*max-width: 940px;*/
  /*margin: 0 auto;*/
/*}*/

.wrapper > div {
  border: 2px solid rgb(41, 25, 139);
  border-radius: 5px;
  /*background-color: rgb(253, 255, 255);*/
  padding: 1em;
  color: #29198b;
}

.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    "header header header header"
    "map map map waypoints"
    "footer footer footer footer";
    height:100%;

}

.header {
    color: #29198b;
    grid-area:header;
}

.map_container {
    grid-area:map;
}

.waypoint_container {
    grid-area:waypoints;
}

.footer {
    grid-area:footer;
}
